/Gradle__android_arch_core_common_1_1_0_jar.xml
/Gradle__android_arch_core_runtime_1_1_0.xml
/Gradle__android_arch_lifecycle_common_1_1_0_jar.xml
/Gradle__android_arch_lifecycle_livedata_core_1_1_0.xml
/Gradle__android_arch_lifecycle_runtime_1_1_0.xml
/Gradle__android_arch_lifecycle_viewmodel_1_1_0.xml
/Gradle__com_android_support_animated_vector_drawable_27_1_1.xml
/Gradle__com_android_support_appcompat_v7_27_1_1.xml
/Gradle__com_android_support_constraint_constraint_layout_1_1_0.xml
/Gradle__com_android_support_constraint_constraint_layout_solver_1_1_0_jar.xml
/Gradle__com_android_support_design_27_1_1.xml
/Gradle__com_android_support_recyclerview_v7_27_1_1.xml
/Gradle__com_android_support_support_annotations_27_1_1_jar.xml
/Gradle__com_android_support_support_compat_27_1_1.xml
/Gradle__com_android_support_support_core_ui_27_1_1.xml
/Gradle__com_android_support_support_core_utils_27_1_1.xml
/Gradle__com_android_support_support_fragment_27_1_1.xml
/Gradle__com_android_support_support_media_compat_27_1_1.xml
/Gradle__com_android_support_support_v4_27_1_1.xml
/Gradle__com_android_support_support_vector_drawable_27_1_1.xml
/Gradle__com_android_support_transition_27_1_1.xml
/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_7_0_jar.xml
/Gradle__com_fasterxml_jackson_core_jackson_core_2_7_2_jar.xml
/Gradle__com_fasterxml_jackson_core_jackson_databind_2_7_2_jar.xml
/Gradle__com_github_bumptech_glide_glide_3_7_0_jar.xml
/Gradle__com_google_code_findbugs_jsr305_3_0_1_jar.xml
/Gradle__com_google_dagger_dagger_2_11_jar.xml
/Gradle__com_google_dagger_dagger_android_2_11.xml
/Gradle__com_google_dagger_dagger_android_support_2_11.xml
/Gradle__com_squareup_okhttp3_logging_interceptor_3_9_1_jar.xml
/Gradle__com_squareup_okhttp3_okhttp_3_10_0_jar.xml
/Gradle__com_squareup_okio_okio_1_14_0_jar.xml
/Gradle__com_squareup_retrofit2_adapter_rxjava2_2_4_0_jar.xml
/Gradle__com_squareup_retrofit2_converter_jackson_2_0_2_jar.xml
/Gradle__com_squareup_retrofit2_retrofit_2_4_0_jar.xml
/Gradle__io_reactivex_rxjava2_rxandroid_2_0_2.xml
/Gradle__io_reactivex_rxjava2_rxjava_2_1_9_jar.xml
/Gradle__javax_inject_javax_inject_1_jar.xml
/Gradle__org_reactivestreams_reactive_streams_1_0_2_jar.xml
